<%- include('./partials/header') %>
<div>
    <img src="https://i.graphicmama.com/blog/wp-content/uploads/2016/10/08104142/4.jpg" class="img-fluid" height="50%">
</div>
<br>
<h4><i>Our mission is to provide a comprehensive and user-friendly budgeting app that simplifies the process of tracking and managing finances.</i></h4>
<br>
<h4><u>Why Budget?</u></h4>
<p>A personal budget keeps track of your income, fixed expenses, discretionary expenses, 
    and other activities related to your cash flow. Its purpose is to give you a clearer picture of how you spend your monthly income
    and how you could put it to use for things like an emergency fund, direct payments toward debt, and a savings goal or two.</p>
<p>There are many reasons why people utilize budgets for their personal finances. Here are a few:
    <ul>
        <li>Paying bills on time</li>
        <li>Change your spending habits</li>
        <li>Achieve a financial goal</li>
        <li>Debt payment planning</li>
        <li>Retirement planning</li>
    </ul>
</p>
<br>
<h4><u>Types of Budgets</u></h4>
<ol>
    <li>Zero-Based Budget</li>
    <li>Traditional Budget</li>
    <li>50/30/20 Budget</li>
    <li>Envelope System Budget</li>
    <li>Goal-Based Budget</li>
</ol>
<p>There are many different types of personal budgets to choose from. Each has their own philosophy and the right budget 
    system for someone else may not be the best budget for your finances, situation, or goals you have.</p>
<br>
<!-- <h4><u>Additional Resources</u></h4> -->

<%- include('./partials/footer') %>

