<%- include('./partials/header') %>
<div>
    <img src="https://i.graphicmama.com/blog/wp-content/uploads/2016/10/08104142/4.jpg" class="img-fluid" height="50%">
</div>
<br>
<h4><u>Why Budget?</u></h4>
<p>A personal budget keeps track of your income, fixed expenses, discretionary expenses, 
    and other activities related to your cash flow. Its purpose is to give you a clearer picture of how you spend your monthly income
    and how you could put it to use for things like an emergency fund, direct payments toward debt, and a savings goal or two.</p>
<p>There are many reasons why people utilize budgets for their personal finances. Here are a few:
    <ul>
        <li>Paying bills on time</li>
        <li>Change your spending habits</li>
        <li>Achieve a financial goal</li>
        <li>Debt payment planning</li>
        <li>Retirement planning</li>
    </ul>
</p>
<br>
<h4><u>Types of Budgets</u></h4>
<ol>
    <li>Zero-Based Budget</li>
    <li>Traditional Budget</li>
    <li>50/30/20 Budget</li>
    <li>Envelope System Budget</li>
    <li>Goal-Based Budget</li>
</ol>
<p>There are many different types of personal budgets to choose from. Each has their own philosophy and the right budget 
    system for someone else may not be the best budget for your finances, situation, or goals you have.</p>
<br>
<h4><u>How to Get Started</u></h4>
<p>Learning how to budget can be scary and overwhelming, but do not fear! The folks at My Money, My Problems will help you start and stick to your budget. 
    Your journey to financial freedom begins NOW!</p>
<p>My Money, My Problems currently focuses on the <b>Zero-Based Budget</b>. The goal is to assign every dollar of income to a specific category, such as bills, credit card payments, 
    student loans, groceries, and savings. Allocate your money how you see fit, making sure that every dollar has a purpose. In the end, you should have nothing left over.</p>
<p>Benefits to a <b>Zero-Based Budget:</b>
    <ul>
        <li>Helps you determine where you need to trim your spending</li>
        <li>Every dollar serves a purpose</li>
        <li>Promotes focus around your short and long-term financial goals</li>
    </ul>
</p>
<p>STEPS TO START</p>
<br>
<p><i>DISCLAIMER - The devs at My Money, My Problems are working hard to build out multiple budget types to suit your individual needs and financial goals. Thank you for your patience!</i></p>
<br>
<h4><u>Additional Resources</u></h4>

<%- include('./partials/footer') %>

