<%- include('./partials/header') %>

<h4>Why Budget?</h4>
<p>A personal budget keeps track of your income, fixed expenses, discretionary expenses, 
    and other activities related to your cash flow. Its purpose is to give you a clearer picture of how you spend your monthly income
    and how you could put it to use for things like an emergency fund, direct payments toward debt, and a savings goal or two.</p>
<br>
<h4>Types of Budgets</h4>
<br>
<h4>How to Get Started</h4>
<p>Learning how to budget can be scary and overwhelming, but do not fear! The folks at My Money, My Problems will</p>
<br>
<h4>Additional Resources</h4>

<%- include('./partials/footer') %>

