<%- include('./partials/header') %>

<div>
    <img src="https://www.impactplus.com/hubfs/what-to-include-in-my-marketing-budget2.jpg" class="img-fluid" height="50%">
</div>
<br>
<h3><u>Getting Started</u></h3>
<p>Learning how to budget can be scary and overwhelming, but do not fear! The folks at My Money, My Problems will help you start and stick to your budget. 
    Your journey to financial freedom begins NOW!</p>
<p>My Money, My Problems currently focuses on the <b>Zero-Based Budget</b>. The goal is to assign every dollar of income to a specific category, such as bills, credit card payments, 
    student loans, groceries, and savings. Allocate your money how you see fit, making sure that every dollar has a purpose. In the end, you should have nothing left over.</p>
<p>Benefits to a <b>Zero-Based Budget:</b>
    <ul>
        <li>Helps you determine where you need to trim your spending</li>
        <li>Every dollar serves a purpose</li>
        <li>Promotes focus around your short and long-term financial goals</li>
    </ul>
</p>
<br>
<p><i>DISCLAIMER - The devs at My Money, My Problems are working hard to build out multiple budget
    types to suit your individual needs and financial goals. We appreciate your patience!</i></p>
<br>
<h3><u>Let's Begin!</u></h3>
    <ol>
        <li>Create a budget for the following month.</li>
            <ul>
                <li>Planning ahead is key! Do not stress! You can always make changes along the way!</li>
            </ul>
        <li>Start with basic recurring categories such as Income, Rent/Mortgage, Groceries, and Utilities. Then plan out other expenses that you expect for the month.</li>
        <li>Input a "Budget Amount" that you expect to spend or receive for the month.</li>
        <li>Add a note to detail the category.</li>
        <li>After inputting your categories and budgeted amounts, review the budget and determine if you have a <b><u>surplus</u></b> or <b><u>deficit</u></b>
            at the bottom of the table.</li>
            <ul>
                <li>SURPLUS: Consider putting some in your savings (category) with a note (i.e. Emergency Fund, Down Payment for House, Vacation). Or 
                make extra principal payments to your loans.</li>
                <li>DEFICIT: Review your expenses and adjust the budgeted amount accordingly. Look for areas that you can cut back on spending such as
            personal shopping, eating out/restaurants, or unused memberships.</li>
            </ul>
        <li>During the month, make updates to your categories under the "Actual Amount" and compare to your expectations set at the beginning.</li>
        <li>At the end of the month, close out your budget by ensuring every dollar is assigned to a category and accounted for.</li>
    </ol>
    <p>Congrats! You completed your first monthly budget!</p>
<br>

<!-- <p>[ INSERT SCREENSHOT OF BUDGET ]</p> -->

<%- include('./partials/footer') %>

