body {
  padding: 50px;
  font-family: 'Faustina', serif;
  font-size: 20px;
}

.body-font, header{
  font-family: 'Faustina', serif;
  font-size: 20px;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 3px solid black;
  background-color: whitesmoke;
}

#categories-table {
  background-color: black;
}

th {
  text-decoration: underline;
}

td {
  text-align: center;
  height: 35px
}

button {
  font-size: 18px;
}

select {
  font-size: 16px;
}

thead {
  background-color: lightgray;
  line-height: 30px;
}

tbody {
  background-color: bisque;
  text-align: center;
}

.income {
  background-color: rgb(123, 211, 123);
}

.total {
  background-color: #575775;
  color: white;
  height: 60px;
}

.expenses {
  background-color: rgb(246, 172, 172);
}

.savings {
  background-color: rgb(214, 152, 223);
}

input {
  height: 28px;
}
