body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#login img {
  height: 50px;
  width: 50px;
}

img {
  height: 28px;
  width: 28px;
}

nav {
  font-size: 18px;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 3px solid black;
  background-color: lightgrey;
}

#categories-table {
  background-color: black;
}

th {
  text-decoration: underline;
}

td {
  text-align: center;
  height: 35px
}

button {
  font-size: 16px;
}

select {
  font-size: 16px;
}

thead {
  background-color: lightgray;
  line-height: 30px;
}

tbody {
  background-color: bisque;

  text-align: center;
}

.income {
  background-color: rgb(86, 167, 86);
}

.total {
  background-color: #575775;
  color: white;
  height: 60px;
}

.expenses {
  background-color: rgb(246, 172, 172);
}

.savings {
  background-color: rgb(214, 152, 223);
}

input {
  height: 28px;
}
