body {
  padding: 50px;
  font-family: 'Faustina', serif;
  font-size: 20px;

}

.body-font, header{
  font-family: 'Faustina', serif;
  font-size: 20px;
  background-color: rgb(246, 237, 226);
}

th {
  text-decoration: underline;
}

td {
  text-align: center;
  height: 35px
}

button {
  font-size: 18px;
}

table {
  border: 12px solid black;
}