<%- include('../partials/header') %>

<h3>Enter a New Category</h3>
<form action="/budgets/<%=budgetId%>/categories" method="POST">
    <label>Name/Item:
        <select name="name">
            <option value="Income">Income</option>
            <option value="Rent/Mortgage" class="expense">Rent/Mortgage</option>
            <option value="Utilities" class="expense">Utilities</option>
            <option value="Groceries" class="expense">Groceries</option>
            <option value="Eating Out/Restaurants" class="expense">Eating Out/Restaurants</option>
            <option value="Transportation/Gas" class="expense">Transportation/Gas</option>
            <option value="Phone" class="expense">Phone</option>
            <option value="Streaming Services" class="expense">Streaming Services</option>
            <option value="Insurance" class="expense">Insurance</option>
            <option value="Student Loan" class="expense">Student Loan</option>
            <option value="Car Loan" class="expense">Car Loan</option>
            <option value="Credit Card" class="expense">Credit Card</option>
            <option value="Other" class="expense">Other</option>
            <option value="Savings" class="savings">Savings</option>
        </select>
    </label><br><br>
    <label>Transaction Date:
        <input type="date" name="date">
    </label><br><br>
    <label>Amount:
        <input data-type="currency" name="amount" placeholder="$0">
    </label><br><br>
    <label>Notes:
        <input name="note">
    </label><br><br>
    <button type="submit">Add Category</button>
</form>
<p><%= errorMsg %></p>


<%- include('../partials/footer') %>