<%- include('../partials/header') %>

<h3>Current Budget - [Month / Year]</h3>
<form action="/budgets/new" method="GET">
  <button type="submit">Create New Budget</button>
</form>
<br>
<table>
    <thead>
      <tr>
        <th>Category</th>
        <th></th>
        <th>Amount</th>
        <th></th>
        <th>% of Income</th>
      </tr>
    </thead>
    <tbody>
        
        </tbody>
      </table>


<%- include('../partials/footer') %>